* {
    padding: 0%;
    margin: 0%;
}
.box{
    display: flex;
    background-color: rgb(255, 230, 0);
    justify-content: space-around;
    padding: 20px;
}
body{
    background-color: rgb(255, 230, 0);
}
.logo {
    height: 30px;
}
.text{
    background-color:rgb(255, 230, 0);
    height: 434px;
    text-align: center;
    padding-top: 140px;
    font-size: large;
}
.apple{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head{
    width: 50PX;
    border: solid black;
    border-radius: 20px;
    height: 50px;
}